#!/usr/bin/expect

set timeout -1;
spawn {{ android_sdk_install_location }}/android-sdk-linux/tools/bin/sdkmanager {{ (android_sdk_tools_to_install + android_sdks_to_install) | join(' ') | regex_replace(';', '\;') }};
expect {
    "Accept? (y/N):" { exp_send "y\r" ; exp_continue }
    eof
}
